{% block nav %}
<nav class="row">
    <ul>
        <li class="small-4 column"><a href="#">Carte</a></li>
        <li class="small-4 column"><a href="#">Ajouter une note</a></li>
        <li class="small-4 column"><a href="#">Consulter le journal</a></li>
    </ul>
</nav>
{% endblock %}